.banner {
    width: 1920px;
    background-color: oldlace;
    height: 530px;
    position: relative;
    left: 50%;
    margin-left: -952px;
    overflow: hidden;
    .banner-box {
        position: absolute;
        left: 0px;
        top: 0px;
        height: 530px;
        width: 1903px;
        margin: 0 auto;
        overflow: hidden;
        .banner-box-pic {
            float: left;
            // img {
            //     width: 100%;
            // }
        }
    }
    ol {
        position: absolute;
        left: 1025px;
        transform: translate(-50%, 0);
        bottom: 10px;
        li {
            float: left;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            text-indent: -999em;
            opacity: 0.5;
            margin-right: 10px;
            cursor: pointer;
            border: 2px solid #000;
        }
    }
    .active {
        background-color: rebeccapurple;
    }
}

.banner-lbtn {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: #fff;
    font-size: 100px;
    text-decoration: none;
    left: 940px;
    margin-left: -360px;
}

.banner-rbtn {
    position: absolute;
    top: 50%;
    margin-top: -60px;
    color: #fff;
    font-size: 100px;
    text-decoration: none;
    margin-right: -590px;
    left: 1480px;
}